@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1300px;
  margin: 128px auto;
}

h2{
  color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
button{  
  color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 8px;
background: #E55473;
border: none;
padding: 20px 43px;
}
/* ------- Header section --------- */
header{
  background: rgba(229, 84, 115, 0.10);
  width: 100%; 
}
header .container{
  max-width: 1300px;
  margin: 0 auto 128px;
}
.hero{
  display: grid;
  grid-template-columns: repeat(2,1fr);  
  align-items: center;
  gap: 20px;
}
.hero .hero-col-2 img{
  width: 100%;
}
.hero .hero-col-1 h1{
  color: #272727;
font-family: Lato;
font-size: 70px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.hero .hero-col-1 p{
  color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding: 32px 0;
}
.hero-col-2{
  padding-top: 50px;
}

/* feature section */
.feature .feature-title p{
  color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin: 24px 0 48px;
}
.feature-img{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 24px;
}
.feature-img .card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-1{
  border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding: 110px 50px 0;
}
.img-2{
  border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding: 117px 30px 50px;
}
.img-3{
  border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
padding: 67px 50px 0;
}
.card a{
  color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
padding-top: 32px;
}

/* support  */
.support {
  border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
display: flex;
justify-content: space-between;
align-items: center;
padding: 87px 175px;
}
.support-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.support-card p{
  color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 35px;
}

/* hot deal section */
.hot-deal{
  border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
padding: 30px 0;
}
.hd-wrapper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
}
.container-col-1 p{
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 0 52px;
}
.container-col-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hot-deal span{
  color: #E55473;
}
/* instagram */

.insta-image{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 24px;
}
.insta-title p{
  color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin: 24px 0 48px;
}
.insta-image .insta-card img{
  width: 100%;
}
/* Customer review section */
.review{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.review-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 
.review-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
}
.review-card img{
  width: 80px;
  height: 80px;
  border: 2px solid #E55473;
  border-radius: 50px;  
}
.review .review-card p{
  color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding: 25px ;
}
.review .review-card h3{
  color: #272727;
font-family: Lato;
font-size: 25px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.line{
  background-color:#E55473 ;
  height: 5px;
  width: 200px;
  border-radius: 25px;
  margin: 20px 0 100px;
}

/* cta */
.cta{
  background-image: url(images/Rectangle\ 9.png);
  height: 449px;
  background-size:  cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta-content p{
  color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin:16px 0 48px;
}
.cta-content input{
  border-radius: 8px;
background: #FFF;
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 22px;
border: none;
width: 500px;
margin-right: 16px;
}

/* footer */
footer{
  background: #111010;
  text-align: center;
  padding: 128px 0;
}
footer h3{
  color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
footer span{
  color: #FFF;
}
footer p{
  color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin: 24px 0 32px;
}
footer h4{
  color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
